.lista-container {
  padding: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  border-left: 6px solid #ff0000;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.card button {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #4da3ff;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.card button:hover {
  background-color: #368ce7;
}

.card button:disabled {
  background-color: #9cc9ff;
  cursor: not-allowed;
}

.card-cumplido {
  border-left: 6px solid #4caf50;
}

.card-disabled {
  opacity: 0.5;
  filter: grayscale(60%);
}